<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Thermostat </title>
  <link rel="stylesheet" href="stylesheet.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

  <div class= "container">
    <div class= "row">
      <div class= "col-lg-6">
        <!-- This is for the thermostat -->
        <div class= "thermostat">
          Current temperature: <span id="temperature"></span>
        </div>

      </div>
      <div class= "col-lg-3">
        <!-- This is for the thermostat controls -->
        <div id= "controls">

          <div id= "up-button">
            <button id="temperature-up" class= "button"> </button>
          </div>

          <div id= "down-button">
            <button id="temperature-down" class= "button"> </button>
          </div>

          <div id= "reset-button">
            <button id="temperature-reset" class= "button">
              <!-- <img src="../Public/img/reset.png" height= 90px width = 92px> -->
            </button>
          </div>

          <!-- Power Saving is on? <span id="ps">true</span><br> -->

          <div id="power-saving">
            <button id="power-saving" class= "button">
              <!-- <img src="../Public/img/energy-leaf-on.png" height= 58px width= 92px> -->
            </button>
          </div>

          <div id="power-usage">
            Current usage: <span id="usage"></span><br>
          </div>

        </div>
      </div>
      <div class= "col-lg-3">
        <!-- This is for the weather -->
        <div id = "weather">
          <h1 id= "city">LDN</h1>
          <hr>
          <h3>Current forecast:</h3>
          <div id= "get-weather-desc"></div>
          <h3>Temperature:</h3>
          <div id= "get-weather-temp"></div>
      </div>
      </div>
    </div>
  </div>

  <script src="../src/thermostat.js"></script>
  <script src="../jquery.js"></script>
  <script src="thermostat_jquery.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
