body {
  padding: 150px;
  /* This is for the entire page */
}

/*#controls{
  text-align: left;
}*/

.button{
  /*background-repeat: no-repeat;*/
  border: none;
  width: 102px;
  height: 105px;
  padding: 0px 100px 10px 0px;
}

#temperature-up {
  background-color: transparent;
  background-image: url(../Public/img/up-arrow.png);
  background-size: 92px 56px;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  /*border: none;*/
}

#temperature-down {
  background-color: transparent;
  background-image: url(../Public/img/down-arrow.png);
  background-size: 92px 56px;
  background-repeat: no-repeat;
  padding-bottom: 120px;
}

#temperature-reset {
  background-color: transparent;
  background-image: url(../Public/img/reset.png);
  background-size: 90px 92px;
  background-repeat: no-repeat;
  padding: 5px;
  padding-bottom: 130px;
}

#power-saving {
  background-color: transparent;
  background-image: url(../Public/img/energy-leaf-on.png);
  background-size: 100px 80px;
  background-repeat: no-repeat;
}
 /*#city {
   text-decoration: underline;
 }*/

 #get-weather-desc {
    text-transform: capitalize;
 }
/*#title {
  color: pink;
  width: 40%;
  margin: auto;
  text-align: center;
}

#temp-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  border: 5px solid grey;
  padding: 10px;
}

.buttons {
  /*background-image: url(../Public/img/energy saving-on.png);*/
  /*position: absolute;
  left: 300px;
  padding: 10px;*/
  /*padding: 20px
}*/
