body {
  padding: 150px;
  /* This is for the entire page */
}

.button{
  /*background-repeat: no-repeat;*/
  border: none;
  width: 102px;
  height: 105px;
  padding: 0px 100px 10px 0px;
}

#temperature-up {
  background-color: transparent;
  background-image: url(../Public/img/up-arrow.png);
  background-size: 92px 56px;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  /*border: none;*/
}

#temperature-down {
  background-color: transparent;
  background-image: url(../Public/img/down-arrow.png);
  background-size: 92px 56px;
  background-repeat: no-repeat;
  padding-bottom: 120px;
}

#temperature-reset {
  background-color: transparent;
  background-image: url(../Public/img/reset.png);
  background-size: 90px 92px;
  background-repeat: no-repeat;
  padding: 5px;
  padding-bottom: 130px;
}

#power-saving {
  background-color: transparent;
  background-image: url(../Public/img/energy-leaf-on.png);
  background-size: 100px 72px;
  background-repeat: no-repeat;
}

 #get-weather-desc {
    text-transform: capitalize;
 }

#temperature {
  z-index: 10;
  margin-top: 205px;
  margin-left: 160px;
  /*margin-bottom: -200px;*/
  position: absolute;
  font-size: 90px;
}

#meter {
  width: 420px;
  height: 500px;
}

h1 {
  font-size:
}
